* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.25%;
}

body {
  color: #000c1d;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #0e8ef7, #b2fefa);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-weight: 300;
  line-height: 1.6;
  height: 100%;
  overflow-x: hidden;
}

::placeholder {
  color: rgba(192, 192, 192, 0.918);
  font-size: 1.6rem;
}
